@implements IDisposable

<div class="modal-overlay" @onclick="Close">
</div>

<div class="modal">
    <h2>Tytuł Modala</h2>

    <!-- Zawartość konkretnego modala -->
    <p>Tu zawartość...</p>

    <button class="close-button" @onclick="Close">Zamknij</button>
</div>

@code {
    private void Close() => ModalService.CloseModal();

    protected override void OnInitialized() => GameState.OnChange += StateHasChanged;
    public void Dispose() => GameState.OnChange -= StateHasChanged;
}
