.game-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game-main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

