@inherits LayoutComponentBase

<div class="game-layout">
    <header class="hud-top">
        <HudTop />
    </header>

    <main class="game-main">
        <article class="game-content">
            @Body
        </article>
    </main>

    <footer class="nav-bottom">
        <NavMenu />
    </footer>
</div>
