<div class="nav-bottom-menu">
    <button class="nav-button" @onclick="ModalService.OpenProductionModal">Produkcja</button>
    <button class="nav-button" @onclick="ModalService.OpenWarehouseModal">Magazyn</button>
    <button class="nav-button" @onclick="ModalService.OpenShopModal">Sklep</button>
    <button class="nav-button" @onclick="ModalService.OpenUpgradesModal">Ulepszenia</button>
    <button class="nav-button" @onclick="ModalService.OpenReportsModal">Raporty</button>
</div>