.bakery-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #f8ede3;
    padding: 4px 16px;
    border: 12px solid #deb887;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    width: max-content;

}

.row {
    display: flex;
    flex-direction: row;
}
