<div class="tile" @onclick="HandleClick">
    @if (Tile.Building != null)
    {
        <img src="@GetBuildingImage(Tile.Building.Value)"
             style="transform: rotate(@($"{Tile.Rotation}deg")); width: 80px; height: 80px;" />
    }
</div>

@code {
    [Parameter] public Tile Tile { get; set; } = null!;
    [Parameter] public EventCallback<Tile> OnTileClicked { get; set; }

    private async Task HandleClick()
    {
        await OnTileClicked.InvokeAsync(Tile);
    }

    private string GetBuildingImage(BuildingType building) =>
        building switch
        {
            BuildingType.Oven => "images/building/piec.png",
            BuildingType.Shelf => "images/building/polka.png",
            _ => "images/building/unknown.png"
        };
}